*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond-max($large-650px) {
    font-size: 50%;
  }
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  &,
  &:focus {
    outline: none;
  }
}

.wrapper {
  display: flex;
}

.bg-image {
  background-size: cover;
  height: 100vh;
  flex: 1;
}

.form {
  background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .header {
    display: flex;
    width: 80%;
    height: 4rem;
    align-items: center;

    .logo {
      width: 2.5rem;
      height: 4rem;
      margin-right: 1rem;

      &__text {
        margin-right: auto;
      }
    }

    &__link {
      color: gray;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 400;
      line-height: 2.6rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  }

  .main__heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.2rem;
    line-height: 4.4rem;
    font-weight: 400;
    width: 30rem;
    margin-left: 3rem;
  }

  .slogan {
    width: 30rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #6a707b;
    margin-left: 3rem;
  }

  .email {
    display: flex;
    background-color: #fff;
    margin: 3rem 0;
    position: relative;

    img {
      border: 1px solid #e3e3e4;
      border-left: none;
      position: absolute;
      padding: 2rem;
      width: 6rem;
      height: 5rem;
      left: 36rem;
      background-color: #fff;
    }
  }

  .email__input {
    width: 36.5rem;
    position: absolute;
    padding: 0 2rem;
    height: 5rem;
    background: #ffffff;
    border: 1px solid #e3e3e4;
    border-right: none;
    border-left: 3px solid #4066a5;

    &:focus {
      outline: none;
    }
  }

  .checkbox {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    color: #6a707b;

    input {
      margin-right: 2rem;
    }

    a {
      color: black;
    }
  }

  .line {
    background-color: #e3e3e4;
    height: 1px;
    width: 40rem;
  }

  .social__icons {
    display: flex;
  }

  .social__icon {
    padding: 1rem;
    border: 2px solid #e3e3e4;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
