@mixin respond-max($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin primary-button($primary-color: white) {
  width: 16rem;
  height: 4rem;
  color: if($primary-color == white, $primary-black, white);
  background-color: $primary-color;
  border-radius: 3rem;
  border: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  text-transform: capitalize;
  transition: opacity 1s, background-color 0.5s;

  &:hover {
    background-color: if($primary-color == white, $primary-black, white);
    color: white;
  }

  &:hover .icon {
    top: 50%;
  }
  &:hover .btn__title {
    top: -100%;
  }

  .btn__title,
  .icon {
    position: absolute;
    left: 50%;
    transition: all 0.2s;
    transform: translate(-50%, -50%);
  }

  .btn__title {
    top: 50%;
    display: block;
    text-transform: capitalize;
    width: 100%;
  }

  .icon {
    top: 150%;
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    // transform: translate(-50%, 170%);
  }

  @content;
}
