.navbar {
  height: 7rem;
  background-color: #f0f6ff;
  justify-content: space-around;
  align-items: center;
  color: $primary-black;

  li {
    list-style-type: none;
  }

  #navbar__opener-btn {
    display: none;
  }

  &-btn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;

    @include respond-max($medium-650px) {
      background: transparent;
    }

    &:hover {
      // background-color: darken($nav-primary-color, 30);
      @include respond-max($medium-650px) {
        background: transparent;
      }
    }
  }

  &-btn span {
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: #000;
    position: relative;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: inherit;
      left: 0;
    }

    &::before {
      top: -5px;
    }
    &::after {
      top: 5px;
    }
  }

  &,
  &__items,
  &__actions {
    display: flex;
  }

  .main__logo {
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: -5px;
  }

  &__item {
    // position: relative;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover .item__results {
      transform: translateX(-50%) translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }

  &__item,
  &__actions .icon {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__actions {
    .icon {
      width: 2rem;
      height: 2rem;
      fill: $primary-black;
    }
  }

  @include respond-max($large-650px) {
    padding: 0 2rem;
    &-btn {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #navbar__opener-btn:checked ~ &__items {
      transform: translateX(0);
    }

    &__items {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      background-color: #fff;
      padding: 2rem;
      z-index: 9000;
      width: 60%;
      flex-direction: column;
      border-right: 1px solid #e7e7e7;
      transform: translateX(-100%);
      transition: all 0.3s ease-in-out;
    }
    &__item {
      font-size: 2rem;
      padding: 2rem;
      border-bottom: 1px solid #e7e7e7;
    }
  }

  .item__results {
    position: absolute;
    // bottom: -40.5rem;
    top: 5rem;
    left: 50%;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    height: 40rem;
    box-shadow: 0px 5px 29px 0px #ececec;
    z-index: 2000;
    overflow: hidden;
    transition: all 0.5s;
    cursor: initial;
    width: 90vw;

    transform: translateX(-50%) translateY(2rem);
    visibility: hidden;
    opacity: 0;

    @include respond-max($largest-950px) {
      width: 100vw;
    }

    @include respond-max($larger-800px) {
      padding: 1rem;
    }

    @include respond-max($large-650px) {
      display: none;
    }

    .item__list {
      flex: 1;
      padding: 2rem;
      color: #8f8f8f;

      @include respond-max($larger-800px) {
        padding: 1rem;
      }

      .title {
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $primary-black;

        &:not(:last-child) {
          border-bottom: 1px solid #d8d8d8;
        }
      }
    }

    .item__list--item {
      padding: 1rem 0;
      font-size: 1rem;
      text-transform: capitalize;
      cursor: pointer;

      transition: all 0.2s;

      &:hover {
        color: $primary-black;
      }
    }
  }
}
