.primary-heading {
  color: inherit;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.primary-slogan {
  color: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
}
